<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.realapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityRoutinePeriod"/>
        <activity android:name=".ActivityLower"/>
        <activity android:name=".ActivityUpper"/>
        <activity android:name=".ActivityDiet"/>
        <activity android:name=".ActivityCore"/>
        <activity android:name=".ActivityRoutineNumber"/>
        <activity android:name=".ActivityExkindSel"/>
        <activity android:name=".ActivityTodayExercise"/>
        <activity android:name=".ActivityMyRoutine"/>
        <activity android:name=".ActivitySetIntensity"/>
        <activity android:name=".ActivityStartEx"/>
        <activity android:name=".ActivityEndEx"/>
        <activity android:name=".ActivityRest" android:theme="@android:style/Theme.Dialog" />
    </application>
</manifest>