<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.realapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Routine"/>
        <activity android:name=".RoutinePeriod"/>
        <activity android:name=".Lower"/>
        <activity android:name=".Upper"/>
        <activity android:name=".Diet"/>
        <activity android:name=".Core"/>
        <activity android:name=".RoutineNumber"/>
        <activity android:name=".ExkindSel"/>
        <activity android:name=".TodayExercise"/>
        <activity android:name=".TodayEx"/>
        <activity android:name=".ExPropertyCard"/>
        <activity android:name=".MyRoutine"/>
        <activity android:name=".SetIntensity"/>
        <activity android:name=".StartEx"/>
        <activity android:name=".EndEx"/>
        <activity android:name=".Rest" android:theme="@android:style/Theme.Dialog" />
    </application>
</manifest>