<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.realapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Routine"></activity>
        <activity android:name=".Routine_1"></activity>
        <activity android:name=".Lower"></activity>
        <activity android:name=".Upper"></activity>
        <activity android:name=".Diet"></activity>
        <activity android:name=".Core"></activity>
        <activity android:name=".RoutineNumber"></activity>
        <activity android:name=".MyActivity"></activity>
        <activity android:name=".TodayExcercise"></activity>
        <activity android:name=".TodayEx"></activity>
        <activity android:name=".ExcerciseKind"></activity>
    </application>
</manifest>